<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.server.mapper.GameSpeedMapper">

    <select id="statisticsSpeed" resultType="com.example.demo.server.entity.dto.GameDto">
        SELECT
            COUNT( game_id ) speedCount,
            CONVERT ( speed_date_time, DATE ) AS speedDateTime
        FROM
            game_speed
        GROUP BY
            CONVERT ( speed_date_time, DATE ),
            game_id
        ORDER BY
            CONVERT ( speed_date_time, DATE ) DESC
    </select>
</mapper>
